.like-btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    transition: fill 200ms ease;
    margin-right: 10px;
}

.like-btn:focus{
    color: rgba(195, 55, 49, 1);
}

.like-btn:hover{
    border-color: rgba(195, 55, 49, 1);
    color: rgba(195, 55, 49, 1);
}

.clap-img{
    width: 40px;
    height: 40px;
}

.story-like{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.like-bubble-closed{
    display: none;
}

    
    
    
.smack-limit{
    position: absolute;
    top: 50;
    
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    animation: smack-limit 0.5s 1;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}
    
@keyframes smack-limit{
    from { opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes smack-limit{
    from {opacity :1;}
    to {opacity :0;}
}

