

.featured{
    margin: 0 auto;
    padding: 0 16px 16px 16px;
    display: flex;
    align-items: stretch;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}

.featured-left{
    height: 100%;
    margin-right: 24px;
    width: 33%;
}

.feature-post-content{
    margin-left: 88px;
}

.cover-big{
    display: block;
}

.featured-mid{
    height: 100%;
    width: 33%;
    margin-right: 24px;
}

.featured-right{
    height: 100%;
    width: 33%;
    word-wrap: break-word;
}

.cover-big-header{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
    overflow: hidden;
    line-height: 28px;
}

.cover-big-description{
    color: gray;
    margin: 20px 0;
}


.cover-big-author{
    margin-top: 5px;
}

.cover-story-header{
    font-weight: 600;
    max-height: 40px;
    font-size: 18px;
    line-height: 20px;
}

.cover-story{
    margin-bottom: 10px;
    display: flex;
}

.cover-story-header{
    margin-bottom: 30px;
}

.big-photo{
    margin: 0px 0px 16px; 
    height: 150px;
    border-radius: 5px;
}

.feature-cover-photo{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}