.bottom-splash-stories{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 70px;
}

.splash-left-story{
    margin: 0 0 48px;
    display: flex;
}

.splashleft-img{
    min-width: 150px;
    height: 100px;
}

.bottompost-content{
    margin-right: 24px;
    color: black;
}

.bottompost-content h2{
    font-weight: 600;
    font-size: 24px;
}

.splashleft-description{
    margin: 2px;
    font-family: sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 10px;
}


.splash-left-author{
    margin-top: 12px;
}