.splash-page{
   
}

.featured{
    margin: 12px auto 0 auto;
    display: flex;
    align-items: stretch;
    width: 100%;
    flex-direction: row;
}

.cover-story-header{
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 24px;
}
