.story-response-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-response-container p{
    font-size: 16px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, .68);
    font-weight: 600;
    margin: 40px 0px;
}

.story-response-info{
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 50px;
    align-items: left;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .09);
    padding: 20px;
    margin: 10px 0;
}

.response-story-name{
    font-size: 16px;
    overflow: hidden;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.response-author-name{
    font-size: 15px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.54);
}

.response-index-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, .02);
}

.write-response:focus{
    height: 300px;
}