.story-response-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-response-container p{
    font-size: 16px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, .68);
    font-weight: 600;
    margin: 40px 0px;
}

.story-response-info{
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 50px;
    align-items: left;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .09);
    padding: 20px;
    margin: 10px 0;
}

.story-response-info:hover{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.64);
}

.response-story-name{
    font-size: 16px;
    overflow: hidden;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.response-author-name{
    font-size: 15px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.54);
}

.response-index-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.response-wrapper{
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, .02);
}

.write-response{
    width: 680px;
    height: 78px;
    margin-bottom: 20px;
}

.write-response:focus{
    height: 300px;
}

.response{
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    background: #fff;
    width: 680px;
    min-height: 80px;
    margin-top: 20px;
}

.response-div{
    width: 680px;
    margin-bottom: 15px;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.68);
    font-size: 16px;
    font-family: sans-serif;
}

.response-author-info{
    margin: 0px 0px 15px;
}

.response-author-name{
    color: orangered;
    display: inline-block;
    cursor: pointer;
}

.response-initial{
    display: inline-block;
    margin-right: 10px;
}

.response-content{
    padding: 10px 20px 15px;
}

.response-body{
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
    word-break: break-word;
    font-family: serif;
}

.user-response-closed{
    width: 680px;
    min-height: 60px;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.user-response-open textarea{
    text-decoration: none;
    resize: none;
    width: 680px;
    min-height: 200px;
    margin-bottom: 20px;
}

.write-response button{
    border-radius: 3px;
    border-color: orangered;
    color: orangered;
}