.navbar{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 20px;
}

.top-navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.bottom-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.left-nav{
    padding-left: 20px;
}

.right-nav{
    padding-right: 20px;
    align-items: center;
}

#atmosphere-logo{
    font-weight: 400;
    font-size: 40px;
    padding: 5px;
    color: black;
    margin: 5px;
}

#signin-btn{
    font-size: 12px;
    color: orangered;
    text-align: center;
    border: none;
    padding: 10px;
    margin: 5px;
}

#signup-btn{
    font-size: 12px;
    color: orangered;
    text-align: center;
    padding: 12px;
    border: 1px solid orangered;
    margin: 5px;
    border-radius: 4px;
    height: 10px;
    line-height: 2px;
    vertical-align: baseline;
}

.user-initial{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    padding: 8px;
    border: none;
    color: white;
    background-color: orangered;
    margin: 5px;
    border-radius: 50%;
    position: relative;
    width: 15px;
    height: 15px;
    align-content: center;
    cursor: pointer;
}



.dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 38px;
    left: 4px;
    background-color: white;
    width: 220px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.dropdown button{
    font-family: sans-serif;
    text-align: left;
    text-decoration: none;
    padding: 7px 25px;;
    margin: 3px;
    background-color: none;
    border: none;
    color: gray;
}


.dropdown a{
    font-family: sans-serif;
    text-align: left;
    text-decoration: none;
    padding: 7px 25px;;
    margin: 3px;
    background-color: none;
    border: none;
    color: gray;
}

