.top-navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.bottom-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}







#atmosphere-logo{
    font-weight: 400;
    font-size: 40px;
    padding: 5px;
    color: black;
    margin: 5px;
}

#signin-btn{
    font-size: 12px;
    color: orangered;
    text-align: center;
    border: none;
    padding: 10px;
    margin: 5px;
}

#signup-btn{
    font-size: 12px;
    color: orangered;
    text-align: center;
    padding: 12px;
    border: 1px solid orangered;
    margin: 5px;
    border-radius: 10%;
}

#dropdown-btn{
    position: relative;
    float: right;
    font-size: 12px;
    color: orangered;
    text-align: center;
    padding: 12px;
    border: 1px solid orangered;
    margin: 5px;
    border-radius: 10%;
    position: relative;
    height: 40px;
}



.dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    width: 220px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.dropdown button{
    font-family: sans-serif;
    text-align: left;
    text-decoration: none;
    padding: 7px 25px;;
    margin: 3px;
    background-color: none;
    border: none;
    color: gray;
}


.dropdown a{
    font-family: sans-serif;
    text-align: left;
    text-decoration: none;
    padding: 7px 25px;;
    margin: 3px;
    background-color: none;
    border: none;
    color: gray;
}

