
.session-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.button-close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: none;
    text-decoration: none;
    border: none;
}

.session-form h1{
    width: 100%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}



.session-form h2 {
    width: 100%;
    margin-bottom: 25px;
    font-size: 19px;
    font-family: sans-serif;
    max-width: 360px;
    line-height: 24px;
    font-weight: 400px;
}

.email-input {
    display: flex;
    flex-direction: column;
}

.email-input label{
    /* display: block; */
    text-align: left;
    font-size: 16px;
    color: gray;
}

li{
    color: #cc5454;
    text-align: left;
    font-size: 16px;
    margin-bottom: 5px;
    list-style: none;
}

#session-errors{
    
}



.email-input input {
    /* display: block; */
    text-align: left;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

#error-input{
    text-align: left;
    border: none;
    border-bottom: 1px solid #cc5454;
    margin-bottom: 10px;
}

.password-input {
    display: flex;
    flex-direction: column;
}

.password-input label{
    display: block;
    text-align: left;
    font-size: 16px;
    color: gray;
}

.password-input input {
    /* display: block; */
    text-align: left;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.session-btns {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.session-btns button{
    border: none;
    color: #03a87c;
    padding: 0;
    margin-bottom: 10px;
}

#session-submit{
    /* display: block; */
    background: black;
    border-color: black;
    color: white;
    border-radius: 4px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 37px;
    max-width: 90px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#demo-user{
    margin-top: 20px;
    background: #cc5454;
    border-color: #cc5454;
    color: white;
    padding: 0 16px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 37px;
    max-width: 180px;
    margin: 0 auto;
}

.error-list{
    margin: 20px;
}

.error-list li{
    padding: 6px;
    margin: 8px;
}