.story-form-main{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
}

.story-form-main textarea{
    font-size: 18px;
    line-height: 1.58;
    border: none;
    background-color: none;
    width: 90%;
    height: 90%;
    text-decoration: none;
    resize: none;
    height: 900px;
}

.story-form-main input{
    display: block;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: none;
}

