.storynew{
    width: 90%;
    margin: 0 auto;
}

.story-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 5px;
}

.right-nav{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.submit-btn{
    text-decoration: none;
    background: none;
    border-radius: 4px;
    border: 1px solid orangered;
    color: orangered;
    margin-right: 10px;
}

.atmosphere-letter{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    width: 35px;
    height: 35px;
    font-size: 30px;
    font-weight: 600;
    background-color: black;
    color: white;
}

.story-form-main{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
}

.story-form-main textarea{
    font-size: 18px;
    line-height: 1.58;
    border: none;
    background-color: none;
    width: 90%;
    height: 90%;
    text-decoration: none;
    resize: none;
    height: 900px;
}

.story-form-main input{
    display: block;
    height: 30px;
    font-size: 28px;
    background-color: white;
    border: none;
    
}

