.story-show{
    width: 85%;
    margin: 0 auto;
}

.story-show-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.story-show h1{
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 10px;
}

.user-info span{
    display: inline-block;
}


.story-body{
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    width: 80%;
    font-size: 21px;
    margin-top: 40px;
    margin-bottom: 24px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
}

.storyshow-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}

.storypage-img{
    width: 100vw;
    margin-left: -15%;
    margin-right: -15%;
    height: 350px;
    object-fit: cover;
}

.story-writer-info{
    width: 80%;
    margin: 0 auto;
}

.story-writer-info p{
    font-size: 15px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.54);
}

.story-writer-info h2{
    font-size: 28px;
    color: black;
    margin-top: 5px;
    font-weight: 600;
}